CatalogFacade/Connected Services/BUILDERCatalog/CatalogManager1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ERDC.CERL.SMS.Libraries.DataContract.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ERDC.CERL.SMS.Libraries.DataContract.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IntResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FunctionResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IntResult" nillable="true" type="tns:IntResult" />
  <xs:complexType name="FunctionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" type="tns:FunctionResultMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FunctionResult" nillable="true" type="tns:FunctionResult" />
  <xs:simpleType name="FunctionResultMessage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Failed" />
      <xs:enumeration value="Success" />
      <xs:enumeration value="NotLoggedIn" />
      <xs:enumeration value="ScenarioDoesntExist" />
      <xs:enumeration value="SiteDoesntExist" />
      <xs:enumeration value="OrganizationDoesntExist" />
      <xs:enumeration value="InvalidPermissions" />
      <xs:enumeration value="PolicySequenceDoesntExist" />
      <xs:enumeration value="ConditionStandardDoesntExist" />
      <xs:enumeration value="FunctionalityStandardDoesntExist" />
      <xs:enumeration value="PolicyDoesntExist" />
      <xs:enumeration value="NotYetImplemented" />
      <xs:enumeration value="PrioritizationSchemeDoesntExist" />
      <xs:enumeration value="CanCopyWorkItems" />
      <xs:enumeration value="InvalidName" />
      <xs:enumeration value="StandardDoesntExist" />
      <xs:enumeration value="PolicySequenceDoesntMatch" />
      <xs:enumeration value="PrioritizationSchemeDoesntMatch" />
      <xs:enumeration value="CostBookDoesntMatch" />
      <xs:enumeration value="ServiceLifeBookDoesntMatch" />
      <xs:enumeration value="InflationSetDoesntMatch" />
      <xs:enumeration value="AccountDisabled" />
      <xs:enumeration value="AssessmentDoesntExist" />
      <xs:enumeration value="AssessmentInstanceDoesntExist" />
      <xs:enumeration value="NoSummariesExist" />
      <xs:enumeration value="FunctionalAreaDoesntExist" />
      <xs:enumeration value="ComponentSectionDoesntExist" />
      <xs:enumeration value="ValueCategoryDoesntExist" />
      <xs:enumeration value="TemplateDoesntExist" />
      <xs:enumeration value="AssessmentSetDoesntExist" />
      <xs:enumeration value="AssessmentSetDescriptionWithNameExists" />
      <xs:enumeration value="ValueCategoryHasQuestions" />
      <xs:enumeration value="BuildingDoesntExist" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FunctionResultMessage" nillable="true" type="tns:FunctionResultMessage" />
</xs:schema>